In [1]:
import pandas as pd
import os

import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler



import matplotlib as plt
import seaborn as sns
import numpy as np

import wrangle_zillow
from env import get_db_url

In [6]:
df = wrangle_zillow.get_zillow()

In [7]:
df.head(5)

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,781532,12095076,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,...,6.037461e+13,-0.001011,2017-01-01,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [9]:
#using 60/60 first to see what dataset looks like:
print('Before dropping nulls, %d rows, %d cols' % df.shape)

#dropping the cols & rows that do not meet the 60/60 standard
df = wrangle_zillow.handle_missing_values(df, prop_required_column=.6, prop_required_row=.60)
print('After dropping nulls, %d rows, %d cols' % df.shape)

Before dropping nulls, 52319 rows, 68 cols
After dropping nulls, 52319 rows, 34 cols

I lose barely anything and get rid of a lot of bulk, moving forward with removing nulls in columns and removing redundant columns as well.

In [4]:
df = wrangle_zillow.wrangle_zillow()

In [5]:
df.head(5)

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,county,latitude,longitude,lotsizesquarefeet,propertylandusetypeid,rawcensustractandblock,regionidcounty,regionidzip,yearbuilt,taxvaluedollarcnt,assessmentyear,logerror
0,3.5,4.0,3100.0,orange,33634931.0,-117869207.0,4506.0,261.0,6.059063e+07,1286.0,96978.0,1998.0,1023282.0,2016.0,0.025595
1,1.0,2.0,1465.0,ventura,34449266.0,-119281531.0,12647.0,261.0,6.111001e+07,2061.0,97099.0,1967.0,464000.0,2016.0,0.055619
2,2.0,3.0,1243.0,orange,33886168.0,-117823170.0,8432.0,261.0,6.059022e+07,1286.0,97078.0,1962.0,564778.0,2016.0,0.005383
3,3.0,4.0,2376.0,los_angeles,34245180.0,-118240722.0,13038.0,261.0,6.037300e+07,3101.0,96330.0,1970.0,145143.0,2016.0,-0.103410
4,3.0,4.0,2962.0,los_angeles,34145202.0,-118179824.0,63000.0,261.0,6.037461e+07,3101.0,96293.0,1950.0,773303.0,2016.0,-0.001011